In [1]:
import pandas as pd
import numpy as np

In [2]:
basics_url="https://datasets.imdbws.com/title.basics.tsv.gz"
akas_url="https://datasets.imdbws.com/title.akas.tsv.gz"
ratings_url="https://datasets.imdbws.com/title.ratings.tsv.gz"

In [3]:
basics = pd.read_csv(basics_url, sep='\t', low_memory=False)
akas = pd.read_csv(akas_url, sep='\t', low_memory=False)
ratings = pd.read_csv(ratings_url, sep='\t', low_memory=False)

In [4]:
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"

In [5]:
akas.head()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Карменсіта,UA,\N,imdbDisplay,\N,0
1,tt0000001,2,Carmencita,DE,\N,\N,literal title,0
2,tt0000001,3,Carmencita - spanyol tánc,HU,\N,imdbDisplay,\N,0
3,tt0000001,4,Καρμενσίτα,GR,\N,imdbDisplay,\N,0
4,tt0000001,5,Карменсита,RU,\N,imdbDisplay,\N,0

In [6]:
ratings.head()

      tconst  averageRating  numVotes
0  tt0000001            5.7      1990
1  tt0000002            5.8       265
2  tt0000003            6.5      1858
3  tt0000004            5.5       178
4  tt0000005            6.2      2644

# Preprocessing |  The TMDB API Results (multiple files)

In [7]:
# File path for the CSV file
file_path = "Data/final_tmdb_data_2000.csv.gz"
# Read the CSV file into a DataFrame
tmdb_data_2000 = pd.read_csv(file_path)

file_path = "Data/final_tmdb_data_2001.csv.gz"
tmdb_data_2001 = pd.read_csv(file_path)

In [8]:
# Concatenate the DataFrames
tmdb_data = pd.concat([tmdb_data_2001, tmdb_data_2000], ignore_index=True)
pd.set_option('display.max_columns', None)  # Display all columns
tmdb_data.head()

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,overview,popularity,poster_path,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,tt0035423,0.0,/hfeiSfWYujh6MKhtGTXyK3DD4nN.jpg,NaN,48000000.0,"[{'id': 10749, 'name': 'Romance'}, {'id': 14, ...",NaN,11232.0,en,Kate & Leopold,When her scientist ex-boyfriend discovers a po...,11.011,/mUvikzKJJSg9khrVdxK8kg3TMHA.jpg,"[{'id': 85, 'logo_path': None, 'name': 'Konrad...","[{'iso_3166_1': 'US', 'name': 'United States o...",2001-12-25,76019048.0,118.0,"[{'english_name': 'French', 'iso_639_1': 'fr',...",Released,"If they lived in the same century, they'd be p...",Kate & Leopold,0.0,6.331,1213.0,PG-13
2,tt0114447,0.0,NaN,NaN,0.0,"[{'id': 53, 'name': 'Thriller'}, {'id': 28, 'n...",NaN,151007.0,en,The Silent Force,An elite Federal force whose objective is to e...,0.681,/u0njmfXD3dXxQfeykBHBuFQOYqD.jpg,[],[],2001-01-01,0.0,90.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,They left him for dead... They should have fin...,The Silent Force,0.0,5.000,3.0,NaN
3,tt0116916,0.0,/rFpHBidSlhjflmnLu7BZilyKeQR.jpg,NaN,0.0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,73549.0,en,The Dark Mist,With the future of the world hanging in the ba...,1.060,/z18E0lukzOtAALmfINSTCUU0Als.jpg,"[{'id': 71364, 'logo_path': None, 'name': 'Car...","[{'iso_3166_1': 'US', 'name': 'United States o...",1996-01-01,0.0,101.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,NaN,The Dark Mist,0.0,3.500,2.0,PG
4,tt0118589,0.0,/9NZAirJahVilTiDNCHLFcdkwkiy.jpg,NaN,22000000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10402, 'n...",NaN,10696.0,en,Glitter,"A young woman is catapulted into pop stardom, ...",8.402,/b8gKsXB6d60SC2HKUcAAzTacn0S.jpg,"[{'id': 89627, 'logo_path': None, 'name': 'Gli...","[{'iso_3166_1': 'US', 'name': 'United States o...",2001-09-21,5271666.0,104.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,"In music she found her dream, her love, herself.",Glitter,0.0,4.438,129.0,PG-13

In [9]:
# List of columns to keep
columns_to_keep = ['imdb_id', 'revenue', 'budget', 'certification']

# Drop all columns except the ones in "columns_to_keep"
tmdb_data = tmdb_data[columns_to_keep]
tmdb_data.head()

     imdb_id     revenue      budget certification
0          0         NaN         NaN           NaN
1  tt0035423  76019048.0  48000000.0         PG-13
2  tt0114447         0.0         0.0           NaN
3  tt0116916         0.0         0.0            PG
4  tt0118589   5271666.0  22000000.0         PG-13

In [10]:
# Count duplicate entries
duplicate_counts = tmdb_data['imdb_id'].duplicated(keep='first')
duplicates_count = duplicate_counts.sum()
duplicates_count

1

In [11]:
tmdb_data_no_duplicates = tmdb_data.drop_duplicates(subset='imdb_id', keep='first')
tmdb_data_no_duplicates

        imdb_id     revenue      budget certification
0             0         NaN         NaN           NaN
1     tt0035423  76019048.0  48000000.0         PG-13
2     tt0114447         0.0         0.0           NaN
3     tt0116916         0.0         0.0            PG
4     tt0118589   5271666.0  22000000.0         PG-13
...         ...         ...         ...           ...
2585  tt6174238         0.0         0.0           NaN
2586  tt7029820         0.0      7000.0           NaN
2587  tt7197642         0.0         0.0           NaN
2588  tt7631368         0.0  10000000.0            NR
2589  tt7802790         0.0         0.0           NaN

[2589 rows x 4 columns]

# Preprocessing |  RATINGS

In [12]:
#Replace "\N" with np.nan
ratings.replace({'\\N': np.nan}, inplace=True)

In [13]:
# Filter the ratings table down to only include the US by using the filter akas dataframe
keepers =ratings['tconst'].isin(akas['titleId'])
keepers

0           True
1           True
2           True
3           True
4           True
           ...
1337332     True
1337333     True
1337334    False
1337335    False
1337336    False
Name: tconst, Length: 1337337, dtype: bool

In [14]:
ratings = ratings[keepers]
ratings

            tconst  averageRating  numVotes
0        tt0000001            5.7      1990
1        tt0000002            5.8       265
2        tt0000003            6.5      1858
3        tt0000004            5.5       178
4        tt0000005            6.2      2644
...            ...            ...       ...
1337314  tt9916460            9.4        18
1337318  tt9916538            8.6         7
1337319  tt9916544            6.7        66
1337332  tt9916730            8.3        10
1337333  tt9916766            7.0        22

[997692 rows x 3 columns]

# Preprocessing |  AKAS

In [15]:
akas = akas[akas['region'] == 'US']

In [16]:
#Replace "\N" with np.nan
akas.replace({'\\N': np.nan}, inplace=True)

# Preprocessing | Normalize TITLE BASICS

## BASIC I : Normalize Genre

### 1. Getting a List of Unique Genres

In [17]:
## First, you will need to get a list of all of the unique genres that appear in the column.
# = basics['genre'].str.split(',')
basics
basics['genres_split'] = basics['genres'].str.split(',')
basics

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,genres_split
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short","[Documentary, Short]"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short","[Animation, Short]"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance","[Animation, Comedy, Romance]"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short","[Animation, Short]"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short","[Comedy, Short]"
...,...,...,...,...,...,...,...,...,...,...
10076260,tt9916848,tvEpisode,Episode #3.17,Episode #3.17,0,2009,\N,\N,"Action,Drama,Family","[Action, Drama, Family]"
10076261,tt9916850,tvEpisode,Episode #3.19,Episode #3.19,0,2010,\N,\N,"Action,Drama,Family","[Action, Drama, Family]"
10076262,tt9916852,tvEpisode,Episode #3.20,Episode #3.20,0,2010,\N,\N,"Action,Drama,Family","[Action, Drama, Family]"
10076263,tt9916856,short,The Wind,The Wind,0,2015,\N,27,Short,[Short]
10076264,tt9916880,tvEpisode,Horrid Henry Knows It All,Horrid Henry Knows It All,0,2014,\N,10,"Adventure,Animation,Comedy","[Adventure, Animation, Comedy]"

In [18]:
exploded_genres = basics.explode('genres_split')
exploded_genres

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,genres_split
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short",Documentary
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short",Short
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short",Animation
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short",Short
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance",Animation
...,...,...,...,...,...,...,...,...,...,...
10076262,tt9916852,tvEpisode,Episode #3.20,Episode #3.20,0,2010,\N,\N,"Action,Drama,Family",Family
10076263,tt9916856,short,The Wind,The Wind,0,2015,\N,27,Short,Short
10076264,tt9916880,tvEpisode,Horrid Henry Knows It All,Horrid Henry Knows It All,0,2014,\N,10,"Adventure,Animation,Comedy",Adventure
10076264,tt9916880,tvEpisode,Horrid Henry Knows It All,Horrid Henry Knows It All,0,2014,\N,10,"Adventure,Animation,Comedy",Animation
10076264,tt9916880,tvEpisode,Horrid Henry Knows It All,Horrid Henry Knows It All,0,2014,\N,10,"Adventure,Animation,Comedy",Comedy

In [19]:
# Filter out NaN values from the 'genres_split' column
non_nan_genres = exploded_genres['genres_split'].dropna()


#Finally, use .unique() to get the unique genres from the genres_split column
unique_genres = sorted(non_nan_genres.unique())

unique_genres

['Action',
 'Adult',
 'Adventure',
 'Animation',
 'Biography',
 'Comedy',
 'Crime',
 'Documentary',
 'Drama',
 'Family',
 'Fantasy',
 'Film-Noir',
 'Game-Show',
 'History',
 'Horror',
 'Music',
 'Musical',
 'Mystery',
 'News',
 'Reality-TV',
 'Romance',
 'Sci-Fi',
 'Short',
 'Sport',
 'Talk-Show',
 'Thriller',
 'War',
 'Western',
 '\\N']

### 2. Create a new title_genres table

In [20]:
#Create a new 
title_genres = exploded_genres[['tconst','genres_split']].copy()
title_genres.head()

      tconst genres_split
0  tt0000001  Documentary
0  tt0000001        Short
1  tt0000002    Animation
1  tt0000002        Short
2  tt0000003    Animation

### 3. Create a genre mapper dictionary to replace string genres with integers

In [21]:
## Making the genre mapper dictionary
genre_ints = range(len(unique_genres))
genre_map = dict(zip(unique_genres, genre_ints))
genre_map

{'Action': 0,
 'Adult': 1,
 'Adventure': 2,
 'Animation': 3,
 'Biography': 4,
 'Comedy': 5,
 'Crime': 6,
 'Documentary': 7,
 'Drama': 8,
 'Family': 9,
 'Fantasy': 10,
 'Film-Noir': 11,
 'Game-Show': 12,
 'History': 13,
 'Horror': 14,
 'Music': 15,
 'Musical': 16,
 'Mystery': 17,
 'News': 18,
 'Reality-TV': 19,
 'Romance': 20,
 'Sci-Fi': 21,
 'Short': 22,
 'Sport': 23,
 'Talk-Show': 24,
 'Thriller': 25,
 'War': 26,
 'Western': 27,
 '\\N': 28}

In [22]:
genre_id_map = dict(zip(unique_genres, range(len(unique_genres))))
genre_id_map

{'Action': 0,
 'Adult': 1,
 'Adventure': 2,
 'Animation': 3,
 'Biography': 4,
 'Comedy': 5,
 'Crime': 6,
 'Documentary': 7,
 'Drama': 8,
 'Family': 9,
 'Fantasy': 10,
 'Film-Noir': 11,
 'Game-Show': 12,
 'History': 13,
 'Horror': 14,
 'Music': 15,
 'Musical': 16,
 'Mystery': 17,
 'News': 18,
 'Reality-TV': 19,
 'Romance': 20,
 'Sci-Fi': 21,
 'Short': 22,
 'Sport': 23,
 'Talk-Show': 24,
 'Thriller': 25,
 'War': 26,
 'Western': 27,
 '\\N': 28}

#  Title_genres: 

- with the columns: tconst & genre_id

In [23]:
title_genres.head()

      tconst genres_split
0  tt0000001  Documentary
0  tt0000001        Short
1  tt0000002    Animation
1  tt0000002        Short
2  tt0000003    Animation

In [24]:
## make new integer genre_id and drop string genres
title_genres['genre_id'] = title_genres['genres_split'].map(genre_map)
title_genres = title_genres.drop(columns='genres_split')
title_genres

             tconst  genre_id
0         tt0000001       7.0
0         tt0000001      22.0
1         tt0000002       3.0
1         tt0000002      22.0
2         tt0000003       3.0
...             ...       ...
10076262  tt9916852       9.0
10076263  tt9916856      22.0
10076264  tt9916880       2.0
10076264  tt9916880       3.0
10076264  tt9916880       5.0

[16069139 rows x 2 columns]

#  GENRES

- Withe columns: Genre Name & Genre ID

In [25]:
genres = pd.DataFrame({'Genre_Name': genre_id_map.keys(),'Genre_ID':genre_id_map.values()})
genres.head()

  Genre_Name  Genre_ID
0     Action         0
1      Adult         1
2  Adventure         2
3  Animation         3
4  Biography         4

## BASIC II : Discard unnecessary information

In [26]:
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,genres_split
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short","[Documentary, Short]"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short","[Animation, Short]"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance","[Animation, Comedy, Romance]"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short","[Animation, Short]"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short","[Comedy, Short]"

In [27]:
# List of columns to drop
discard = ["originalTitle", "isAdult", "titleType", "genres", "endYear", "genres_split"]

# Drop the specified columns
basics = basics.drop(columns=discard)
basics.head()

      tconst            primaryTitle startYear runtimeMinutes
0  tt0000001              Carmencita      1894              1
1  tt0000002  Le clown et ses chiens      1892              5
2  tt0000003          Pauvre Pierrot      1892              4
3  tt0000004             Un bon bock      1892             12
4  tt0000005        Blacksmith Scene      1893              1

In [28]:
#Replace "\N" with np.nan
basics.replace({'\\N': np.nan}, inplace=True)
basics.head(5)

      tconst            primaryTitle startYear runtimeMinutes
0  tt0000001              Carmencita      1894              1
1  tt0000002  Le clown et ses chiens      1892              5
2  tt0000003          Pauvre Pierrot      1892              4
3  tt0000004             Un bon bock      1892             12
4  tt0000005        Blacksmith Scene      1893              1

# II) MySQL Database

In [29]:
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy_utils import database_exists, create_database
import pymysql
pymysql.install_as_MySQLdb()
from urllib.parse import quote_plus as urlquote

In [30]:
# Create connection string using credentials following this format
# connection = "dialect+driver://username:password@host:port/database"
username = "root"
password = "Perfecto" # (whatever password you chose during mysql installation)
db_name = "movies"
connection = f"mysql+pymysql://{username}:{password}@localhost/{db_name}"

In [31]:
engine = create_engine(connection)

In [32]:
engine

Engine(mysql+pymysql://root:***@localhost/movies)

In [33]:
## Check if database exists, if not, create it
if database_exists(connection):
    print('It exists!')
else:
    create_database(connection)
    print('Database created!')

It exists!

## 1. Creating a dataype schema for to_sql:
Because we have a string column ("tconst") as the primary key for several tables, we will need to go through some extra steps.

### BASICS:

In [34]:
basics.dtypes

tconst            object
primaryTitle      object
startYear         object
runtimeMinutes    object
dtype: object

In [35]:
# Convert non-numeric values to NaN
basics['startYear'] = pd.to_numeric(basics['startYear'], errors='coerce')

basics['startYear'] = basics['startYear'].astype(float)
basics.dtypes

tconst             object
primaryTitle       object
startYear         float64
runtimeMinutes     object
dtype: object

In [36]:
# Convert non-numeric values to NaN
basics['runtimeMinutes'] = pd.to_numeric(basics['runtimeMinutes'], errors='coerce')

basics['runtimeMinutes'] = basics['runtimeMinutes'].astype(pd.Int32Dtype())
basics.dtypes

tconst             object
primaryTitle       object
startYear         float64
runtimeMinutes      Int32
dtype: object

In [37]:
## get max string length
max_str_len_tconst= basics['tconst'].fillna('').map(len).max()
max_str_len_tconst

10

In [38]:
## get max string length
max_str_len_primaryTitle = basics['primaryTitle'].fillna('').map(len).max()
max_str_len_primaryTitle

419

In [39]:
from sqlalchemy.types import *

In [40]:
basics_df_schema = {
    'tconst': String(max_str_len_tconst+1),
    'primaryTitle': Text(max_str_len_primaryTitle+1),
    'startYear': Float(),
    'runtimeMinutes': Integer()
}

### RATINGS:

In [41]:
ratings.dtypes

tconst            object
averageRating    float64
numVotes           int64
dtype: object

In [42]:
ratings_df_schema = {
    'tconst': String(max_str_len_tconst+1),
    'averageRating': Float(),
    'numVotes': Integer()
}

### TITLE_GENRES:

In [43]:
title_genres.dtypes

tconst       object
genre_id    float64
dtype: object

In [44]:
title_genres_df_schema = {
    'tconst': String(max_str_len_tconst+1),
    'genre_id': Text(max_str_len_primaryTitle+1)
}

### GENRE:

In [45]:
genres.dtypes

Genre_Name    object
Genre_ID       int64
dtype: object

In [46]:
genres_df_schema = {
    'Genre_Name': String(max_str_len_tconst+1),
    'Genre_ID': Integer()
}

### IMDB_DATA

In [47]:
tmdb_data.dtypes

imdb_id           object
revenue          float64
budget           float64
certification     object
dtype: object

In [48]:
tmdb_data_df_schema = {
    'imdb_id': String(max_str_len_tconst+1),
    'revenue': Float(),
    'budget': Float(),
    'certification': Text(max_str_len_primaryTitle+1)
}

## 2. Run df.to_sql with the dtype argument.

In [49]:
# Save to sql with dtype and index=False
basics.to_sql('title_basics',engine,dtype=basics_df_schema,if_exists='replace',index=False)

10076265

In [50]:
ratings.to_sql('title_ratings',engine,dtype=ratings_df_schema,if_exists='replace',index=False)

997692

In [51]:
title_genres.to_sql('title_genres',engine,dtype=title_genres_df_schema,if_exists='replace',index=False)

16069139

In [52]:
genres.to_sql('genres',engine,dtype=genres_df_schema,if_exists='replace',index=False)

29

In [53]:
tmdb_data.to_sql('tmdb_data',engine,dtype=tmdb_data_df_schema,if_exists='replace',index=False)

2590

## 3. Run the query to ADD PRIMARY KEY

In [54]:
engine.execute('ALTER TABLE title_basics ADD PRIMARY KEY (`tconst`);')

In [55]:
engine.execute('ALTER TABLE title_ratings ADD PRIMARY KEY (`tconst`);')

In [56]:
engine.execute('ALTER TABLE genres ADD PRIMARY KEY (`Genre_ID`);')

In [60]:
from collections import Counter

# Check for duplicate imdb_id values
duplicate_ids = [item for item, count in Counter(tmdb_data['imdb_id']).items() if count > 1]
print("Duplicate imdb_id values:", duplicate_ids)

Duplicate imdb_id values: ['0']

In [62]:
# Remove duplicate rows and keep the first occurrence
df_2000_no_duplicates = tmdb_data.drop_duplicates(subset=['imdb_id'], keep='first')

In [65]:
# Drop the existing table
engine.execute('DROP TABLE IF EXISTS tmdb_data;')

# Recreate the table with the cleaned DataFrame
df_2000_no_duplicates.to_sql('tmdb_data', con=engine, index=False)

2589

In [66]:
engine.execute('ALTER TABLE tmdb_data ADD PRIMARY KEY (`imdb_id`);')

OperationalError: (pymysql.err.OperationalError) (1170, "BLOB/TEXT column 'imdb_id' used in key specification without a key length")
[SQL: ALTER TABLE tmdb_data ADD PRIMARY KEY (`imdb_id`);]
(Background on this error at: https://sqlalche.me/e/14/e3q8)