In [1]:
import pandas as pd
import numpy as np

In [2]:
basics_url="https://datasets.imdbws.com/title.basics.tsv.gz"
akas_url="https://datasets.imdbws.com/title.akas.tsv.gz"
ratings_url="https://datasets.imdbws.com/title.ratings.tsv.gz"

In [3]:
basics = pd.read_csv(basics_url, sep='\t', low_memory=False)
akas = pd.read_csv(akas_url, sep='\t', low_memory=False)
ratings = pd.read_csv(ratings_url, sep='\t', low_memory=False)

In [4]:
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"

In [5]:
akas.head()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Карменсіта,UA,\N,imdbDisplay,\N,0
1,tt0000001,2,Carmencita,DE,\N,\N,literal title,0
2,tt0000001,3,Carmencita - spanyol tánc,HU,\N,imdbDisplay,\N,0
3,tt0000001,4,Καρμενσίτα,GR,\N,imdbDisplay,\N,0
4,tt0000001,5,Карменсита,RU,\N,imdbDisplay,\N,0

In [6]:
ratings.head()

      tconst  averageRating  numVotes
0  tt0000001            5.7      1990
1  tt0000002            5.8       265
2  tt0000003            6.5      1856
3  tt0000004            5.5       178
4  tt0000005            6.2      2641

# Preprocessing |  The TMDB API Results (multiple files)

In [7]:
# File path for the CSV file
file_path = "Data/final_tmdb_data_2000.csv.gz"
# Read the CSV file into a DataFrame
tmdb_data_2000 = pd.read_csv(file_path)

file_path = "Data/final_tmdb_data_2001.csv.gz"
tmdb_data_2001 = pd.read_csv(file_path)

In [8]:
# Concatenate the DataFrames
tmdb_data = pd.concat([tmdb_data_2001, tmdb_data_2000], ignore_index=True)
pd.set_option('display.max_columns', None)  # Display all columns
tmdb_data.head()

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,overview,popularity,poster_path,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,tt1361336,0.0,/9ns9463dwOeo1CK1JU2wirL5Yi1.jpg,NaN,50000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10751, '...",https://www.tomandjerrymovie.com,587807.0,en,Tom & Jerry,Tom the cat and Jerry the mouse get kicked out...,54.069,/8XZI9QZ7Pm3fVkigWJPbrXCMzjq.jpg,"[{'id': 25120, 'logo_path': '/lMj6nMJBOzfLEd2f...","[{'iso_3166_1': 'US', 'name': 'United States o...",2021-02-10,136536687.0,101.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Best of enemies. Worst of friends.,Tom & Jerry,0.0,6.873,2255.0,PG
2,tt1361336,0.0,/9ns9463dwOeo1CK1JU2wirL5Yi1.jpg,NaN,50000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10751, '...",https://www.tomandjerrymovie.com,587807.0,en,Tom & Jerry,Tom the cat and Jerry the mouse get kicked out...,54.069,/8XZI9QZ7Pm3fVkigWJPbrXCMzjq.jpg,"[{'id': 25120, 'logo_path': '/lMj6nMJBOzfLEd2f...","[{'iso_3166_1': 'US', 'name': 'United States o...",2021-02-10,136536687.0,101.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Best of enemies. Worst of friends.,Tom & Jerry,0.0,6.873,2255.0,PG
3,tt1361336,0.0,/9ns9463dwOeo1CK1JU2wirL5Yi1.jpg,NaN,50000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10751, '...",https://www.tomandjerrymovie.com,587807.0,en,Tom & Jerry,Tom the cat and Jerry the mouse get kicked out...,54.069,/8XZI9QZ7Pm3fVkigWJPbrXCMzjq.jpg,"[{'id': 25120, 'logo_path': '/lMj6nMJBOzfLEd2f...","[{'iso_3166_1': 'US', 'name': 'United States o...",2021-02-10,136536687.0,101.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Best of enemies. Worst of friends.,Tom & Jerry,0.0,6.873,2255.0,PG
4,tt1361336,0.0,/9ns9463dwOeo1CK1JU2wirL5Yi1.jpg,NaN,50000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10751, '...",https://www.tomandjerrymovie.com,587807.0,en,Tom & Jerry,Tom the cat and Jerry the mouse get kicked out...,54.069,/8XZI9QZ7Pm3fVkigWJPbrXCMzjq.jpg,"[{'id': 25120, 'logo_path': '/lMj6nMJBOzfLEd2f...","[{'iso_3166_1': 'US', 'name': 'United States o...",2021-02-10,136536687.0,101.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Best of enemies. Worst of friends.,Tom & Jerry,0.0,6.873,2255.0,PG

In [62]:
# List of columns to keep
columns_to_keep = ['imdb_id', 'revenue', 'budget', 'certification']

# Drop all columns except the ones in "columns_to_keep"
tmdb_data = tmdb_data[columns_to_keep]
tmdb_data.head()

     imdb_id      revenue      budget certification
0          0          NaN         NaN           NaN
1  tt1361336  136536687.0  50000000.0            PG
2  tt1361336  136536687.0  50000000.0            PG
3  tt1361336  136536687.0  50000000.0            PG
4  tt1361336  136536687.0  50000000.0            PG

In [64]:
# Count duplicate entries
duplicate_counts = tmdb_data['imdb_id'].duplicated(keep='first')
duplicates_count = duplicate_counts.sum()
duplicates_count

3026

In [65]:
tmdb_data_no_duplicates = tmdb_data.drop_duplicates(subset='imdb_id', keep='first')
tmdb_data_no_duplicates

     imdb_id      revenue      budget certification
0          0          NaN         NaN           NaN
1  tt1361336  136536687.0  50000000.0            PG

# Preprocessing |  RATINGS

In [10]:
#Replace "\N" with np.nan
ratings.replace({'\\N': np.nan}, inplace=True)

In [11]:
# Filter the ratings table down to only include the US by using the filter akas dataframe
keepers =ratings['tconst'].isin(akas['titleId'])
keepers

0           True
1           True
2           True
3           True
4           True
           ...
1336548     True
1336549     True
1336550    False
1336551    False
1336552    False
Name: tconst, Length: 1336553, dtype: bool

In [12]:
ratings = ratings[keepers]
ratings

            tconst  averageRating  numVotes
0        tt0000001            5.7      1990
1        tt0000002            5.8       265
2        tt0000003            6.5      1856
3        tt0000004            5.5       178
4        tt0000005            6.2      2641
...            ...            ...       ...
1336530  tt9916460            9.4        18
1336534  tt9916538            8.6         7
1336535  tt9916544            6.7        66
1336548  tt9916730            8.3        10
1336549  tt9916766            7.0        22

[997203 rows x 3 columns]

# Preprocessing |  AKAS

In [13]:
akas = akas[akas['region'] == 'US']

In [14]:
#Replace "\N" with np.nan
akas.replace({'\\N': np.nan}, inplace=True)

# Preprocessing | Normalize TITLE BASICS

## BASIC I : Normalize Genre

### 1. Getting a List of Unique Genres

In [15]:
## First, you will need to get a list of all of the unique genres that appear in the column.
# = basics['genre'].str.split(',')
basics
basics['genres_split'] = basics['genres'].str.split(',')
basics

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,genres_split
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short","[Documentary, Short]"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short","[Animation, Short]"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance","[Animation, Comedy, Romance]"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short","[Animation, Short]"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short","[Comedy, Short]"
...,...,...,...,...,...,...,...,...,...,...
10071943,tt9916848,tvEpisode,Episode #3.17,Episode #3.17,0,2009,\N,\N,"Action,Drama,Family","[Action, Drama, Family]"
10071944,tt9916850,tvEpisode,Episode #3.19,Episode #3.19,0,2010,\N,\N,"Action,Drama,Family","[Action, Drama, Family]"
10071945,tt9916852,tvEpisode,Episode #3.20,Episode #3.20,0,2010,\N,\N,"Action,Drama,Family","[Action, Drama, Family]"
10071946,tt9916856,short,The Wind,The Wind,0,2015,\N,27,Short,[Short]
10071947,tt9916880,tvEpisode,Horrid Henry Knows It All,Horrid Henry Knows It All,0,2014,\N,10,"Adventure,Animation,Comedy","[Adventure, Animation, Comedy]"

In [16]:
exploded_genres = basics.explode('genres_split')
exploded_genres

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,genres_split
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short",Documentary
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short",Short
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short",Animation
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short",Short
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance",Animation
...,...,...,...,...,...,...,...,...,...,...
10071945,tt9916852,tvEpisode,Episode #3.20,Episode #3.20,0,2010,\N,\N,"Action,Drama,Family",Family
10071946,tt9916856,short,The Wind,The Wind,0,2015,\N,27,Short,Short
10071947,tt9916880,tvEpisode,Horrid Henry Knows It All,Horrid Henry Knows It All,0,2014,\N,10,"Adventure,Animation,Comedy",Adventure
10071947,tt9916880,tvEpisode,Horrid Henry Knows It All,Horrid Henry Knows It All,0,2014,\N,10,"Adventure,Animation,Comedy",Animation
10071947,tt9916880,tvEpisode,Horrid Henry Knows It All,Horrid Henry Knows It All,0,2014,\N,10,"Adventure,Animation,Comedy",Comedy

In [17]:
# Filter out NaN values from the 'genres_split' column
non_nan_genres = exploded_genres['genres_split'].dropna()


#Finally, use .unique() to get the unique genres from the genres_split column
unique_genres = sorted(non_nan_genres.unique())

unique_genres

['Action',
 'Adult',
 'Adventure',
 'Animation',
 'Biography',
 'Comedy',
 'Crime',
 'Documentary',
 'Drama',
 'Family',
 'Fantasy',
 'Film-Noir',
 'Game-Show',
 'History',
 'Horror',
 'Music',
 'Musical',
 'Mystery',
 'News',
 'Reality-TV',
 'Romance',
 'Sci-Fi',
 'Short',
 'Sport',
 'Talk-Show',
 'Thriller',
 'War',
 'Western',
 '\\N']

### 2. Create a new title_genres table

In [18]:
#Create a new 
title_genres = exploded_genres[['tconst','genres_split']].copy()
title_genres.head()

      tconst genres_split
0  tt0000001  Documentary
0  tt0000001        Short
1  tt0000002    Animation
1  tt0000002        Short
2  tt0000003    Animation

### 3. Create a genre mapper dictionary to replace string genres with integers

In [19]:
## Making the genre mapper dictionary
genre_ints = range(len(unique_genres))
genre_map = dict(zip(unique_genres, genre_ints))
genre_map

{'Action': 0,
 'Adult': 1,
 'Adventure': 2,
 'Animation': 3,
 'Biography': 4,
 'Comedy': 5,
 'Crime': 6,
 'Documentary': 7,
 'Drama': 8,
 'Family': 9,
 'Fantasy': 10,
 'Film-Noir': 11,
 'Game-Show': 12,
 'History': 13,
 'Horror': 14,
 'Music': 15,
 'Musical': 16,
 'Mystery': 17,
 'News': 18,
 'Reality-TV': 19,
 'Romance': 20,
 'Sci-Fi': 21,
 'Short': 22,
 'Sport': 23,
 'Talk-Show': 24,
 'Thriller': 25,
 'War': 26,
 'Western': 27,
 '\\N': 28}

In [20]:
genre_id_map = dict(zip(unique_genres, range(len(unique_genres))))
genre_id_map

{'Action': 0,
 'Adult': 1,
 'Adventure': 2,
 'Animation': 3,
 'Biography': 4,
 'Comedy': 5,
 'Crime': 6,
 'Documentary': 7,
 'Drama': 8,
 'Family': 9,
 'Fantasy': 10,
 'Film-Noir': 11,
 'Game-Show': 12,
 'History': 13,
 'Horror': 14,
 'Music': 15,
 'Musical': 16,
 'Mystery': 17,
 'News': 18,
 'Reality-TV': 19,
 'Romance': 20,
 'Sci-Fi': 21,
 'Short': 22,
 'Sport': 23,
 'Talk-Show': 24,
 'Thriller': 25,
 'War': 26,
 'Western': 27,
 '\\N': 28}

#  Title_genres: 

- with the columns: tconst & genre_id

In [21]:
title_genres.head()

      tconst genres_split
0  tt0000001  Documentary
0  tt0000001        Short
1  tt0000002    Animation
1  tt0000002        Short
2  tt0000003    Animation

In [22]:
## make new integer genre_id and drop string genres
title_genres['genre_id'] = title_genres['genres_split'].map(genre_map)
title_genres = title_genres.drop(columns='genres_split')
title_genres

             tconst  genre_id
0         tt0000001       7.0
0         tt0000001      22.0
1         tt0000002       3.0
1         tt0000002      22.0
2         tt0000003       3.0
...             ...       ...
10071945  tt9916852       9.0
10071946  tt9916856      22.0
10071947  tt9916880       2.0
10071947  tt9916880       3.0
10071947  tt9916880       5.0

[16062092 rows x 2 columns]

#  GENRES

- Withe columns: Genre Name & Genre ID

In [23]:
genres = pd.DataFrame({'Genre_Name': genre_id_map.keys(),'Genre_ID':genre_id_map.values()})
genres.head()

  Genre_Name  Genre_ID
0     Action         0
1      Adult         1
2  Adventure         2
3  Animation         3
4  Biography         4

## BASIC II : Discard unnecessary information

In [24]:
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,genres_split
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short","[Documentary, Short]"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short","[Animation, Short]"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance","[Animation, Comedy, Romance]"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short","[Animation, Short]"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short","[Comedy, Short]"

In [25]:
# List of columns to drop
discard = ["originalTitle", "isAdult", "titleType", "genres", "endYear", "genres_split"]

# Drop the specified columns
basics = basics.drop(columns=discard)
basics.head()

      tconst            primaryTitle startYear runtimeMinutes
0  tt0000001              Carmencita      1894              1
1  tt0000002  Le clown et ses chiens      1892              5
2  tt0000003          Pauvre Pierrot      1892              4
3  tt0000004             Un bon bock      1892             12
4  tt0000005        Blacksmith Scene      1893              1

In [26]:
#Replace "\N" with np.nan
basics.replace({'\\N': np.nan}, inplace=True)
basics.head(5)

      tconst            primaryTitle startYear runtimeMinutes
0  tt0000001              Carmencita      1894              1
1  tt0000002  Le clown et ses chiens      1892              5
2  tt0000003          Pauvre Pierrot      1892              4
3  tt0000004             Un bon bock      1892             12
4  tt0000005        Blacksmith Scene      1893              1

# II) MySQL Database

In [27]:
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy_utils import database_exists, create_database
import pymysql
pymysql.install_as_MySQLdb()
from urllib.parse import quote_plus as urlquote

In [28]:
# Create connection string using credentials following this format
# connection = "dialect+driver://username:password@host:port/database"
username = "root"
password = "Perfecto" # (whatever password you chose during mysql installation)
db_name = "movies"
connection = f"mysql+pymysql://{username}:{password}@localhost/{db_name}"

In [29]:
engine = create_engine(connection)

In [30]:
engine

Engine(mysql+pymysql://root:***@localhost/movies)

In [31]:
## Check if database exists, if not, create it
if database_exists(connection):
    print('It exists!')
else:
    create_database(connection)
    print('Database created!')

It exists!

## 1. Creating a dataype schema for to_sql:
Because we have a string column ("tconst") as the primary key for several tables, we will need to go through some extra steps.

### BASICS:

In [32]:
basics.dtypes

tconst            object
primaryTitle      object
startYear         object
runtimeMinutes    object
dtype: object

In [33]:
# Convert non-numeric values to NaN
basics['startYear'] = pd.to_numeric(basics['startYear'], errors='coerce')

basics['startYear'] = basics['startYear'].astype(float)
basics.dtypes

tconst             object
primaryTitle       object
startYear         float64
runtimeMinutes     object
dtype: object

In [34]:
# Convert non-numeric values to NaN
basics['runtimeMinutes'] = pd.to_numeric(basics['runtimeMinutes'], errors='coerce')

basics['runtimeMinutes'] = basics['runtimeMinutes'].astype(pd.Int32Dtype())
basics.dtypes

tconst             object
primaryTitle       object
startYear         float64
runtimeMinutes      Int32
dtype: object

In [35]:
## get max string length
max_str_len_tconst= basics['tconst'].fillna('').map(len).max()
max_str_len_tconst

10

In [36]:
## get max string length
max_str_len_primaryTitle = basics['primaryTitle'].fillna('').map(len).max()
max_str_len_primaryTitle

419

In [37]:
from sqlalchemy.types import *

In [38]:
basics_df_schema = {
    'tconst': String(max_str_len_tconst+1),
    'primaryTitle': Text(max_str_len_primaryTitle+1),
    'startYear': Float(),
    'runtimeMinutes': Integer()
}

### RATINGS:

In [39]:
ratings.dtypes

tconst            object
averageRating    float64
numVotes           int64
dtype: object

In [40]:
ratings_df_schema = {
    'tconst': String(max_str_len_tconst+1),
    'averageRating': Float(),
    'numVotes': Integer()
}

### TITLE_GENRES:

In [41]:
title_genres.dtypes

tconst       object
genre_id    float64
dtype: object

In [42]:
title_genres_df_schema = {
    'tconst': String(max_str_len_tconst+1),
    'genre_id': Text(max_str_len_primaryTitle+1)
}

### GENRE:

In [43]:
genres.dtypes

Genre_Name    object
Genre_ID       int64
dtype: object

In [44]:
genres_df_schema = {
    'Genre_Name': String(max_str_len_tconst+1),
    'Genre_ID': Integer()
}

### IMDB_DATA

In [45]:
tmdb_data.dtypes

imdb_id           object
revenue          float64
budget           float64
certification     object
dtype: object

In [46]:
tmdb_data_df_schema = {
    'imdb_id': String(max_str_len_tconst+1),
    'revenue': Float(),
    'budget': Float(),
    'certification': Text(max_str_len_primaryTitle+1)
}

## 2. Run df.to_sql with the dtype argument.

In [47]:
# Save to sql with dtype and index=False
basics.to_sql('title_basics',engine,dtype=basics_df_schema,if_exists='replace',index=False)

10071948

In [49]:
ratings.to_sql('title_ratings',engine,dtype=ratings_df_schema,if_exists='replace',index=False)

997203

In [50]:
title_genres.to_sql('title_genres',engine,dtype=title_genres_df_schema,if_exists='replace',index=False)

16062092

In [51]:
genres.to_sql('genres',engine,dtype=genres_df_schema,if_exists='replace',index=False)

29

In [52]:
tmdb_data.to_sql('tmdb_data',engine,dtype=tmdb_data_df_schema,if_exists='replace',index=False)

3028

## 3. Run the query to ADD PRIMARY KEY

In [58]:
engine.execute('ALTER TABLE title_basics ADD PRIMARY KEY (`tconst`);')

In [59]:
engine.execute('ALTER TABLE title_ratings ADD PRIMARY KEY (`tconst`);')

In [56]:
engine.execute('ALTER TABLE genres ADD PRIMARY KEY (`Genre_ID`);')

In [71]:
#engine.execute('ALTER TABLE tmdb_data ADD PRIMARY KEY (`imdb_id`);')